@use './variable'


*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: variable.$font-stack
        
    input
        border: none
        background: variable.$Verylightgrayish-cyan
        color: variable.$Verydark-cyan

#wrapper
    text-align: center
    background: variable.$Lightgrayish-cyan
    padding: 15%

    img
        margin-bottom: 6rem

main
    display: flex
    background: variable.$White
    padding: 2.5rem
    border-radius: 1.2rem
    justify-content: space-between
    width: auto
   