@use './variable'
    
@mixin tip-btn
    padding: .4rem
    color: variable.$White
    background: variable.$Verydark-cyan
    text-decoration: none
    border-radius: .5rem
    font-size: variable.$bodyfont-size
    width: 8rem
    text-align: center
    border: none
    cursor: pointer
    &:hover
        background: variable.$Strong-cyan
    &:focus
        background: variable.$Strong-cyan

@mixin xs 
    @media (min-width: 0px) and (max-width: 639px)
        @content
    


@mixin sm 
    @media (max-width: 640px) 
        @content
    


@mixin md 
    @media (max-width: 768px) 
        @content
    


@mixin lg 
    @media (max-width: 1024px) 
        @content
    


@mixin xl 
    @media (max-width: 1280px) 
        @content